body {
	margin: 20px;
}

#title {
	text-align: center;
}

#books {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#book-div {
	justify-content: center;
}

.book {
	text-align: center;
	height: fit-content;
	width: 200px;
	margin: 0 auto;
	padding: 10px 10px;
}

.book p:nth-of-type(2) {
	margin-bottom: 0;
}
