body {
	margin: 30px;
}

a:link {
	color: inherit;
}

#title {
	text-align: center;
}

#books {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

#book-div {
	justify-content: center;
}

.book {
	text-align: center;
	height: fit-content;
	width: 200px;
	margin: 0 auto;
}

.book p:nth-of-type(2) {
	margin-bottom: 0;
}

.title-and-author {
	height: 80px;
}

.book-title  {
	text-decoration: underline;
	font-weight: bold;
}

.book-author {
	text-decoration: none;
}

.book-price {
	background-color: #ED1C24;
	color: white;
	font-size: 20px;
	border-radius: 20px;
	margin-top: 5px;
	padding: 8px 0;
}
