@(author: String, booksFromAuthor: List[models.Book])

@main("Författare") {
	<h1 id="title">Böcker skrivna av @author</h1>

	<div id="books">
		@for(book <- booksFromAuthor) {
		<div id=book-div>
			<div class="book">
				<div class="book-cover-image-wrapper">
					<a href="/book/@book.getId()"><img class="book-cover-image" src="@book.getCoverImg()" width=100% </a>
				</div>
				<div class="title-and-author">
					<a href="/book/@book.getId()"><p class="book-title">@book.getTitle()</p></a>
					<a href="/author/@book.getAuthor()"<p class="book-author">@book.getAuthor()</p></a>
				</div>
				<p class="book-price">@book.getPrice() kr</p>
			</div>
		</div>
		}
	</div>
}
