@(books: List[models.Book])

@main("Bookstore") {
	<h1 id="title">Bookstore</h1>

	<div id="books">
		@for(book <- books) {
		<div id=book-div>
			<div class="book">
				<a href="/book/@book.getId()"><img class="book-cover-image" src="@book.getCoverImg()" width=100% </a>
				<div class="title-and-author">
					<a href="/book/@book.getId()"><p class="book-title">@book.getTitle()</p></a>
					<a href="/author"<p class="book-author">@book.getAuthor()</p></a>
				</div>
				<p class="book-price">@book.getPrice()$</p>
			</div>
		</div>
		}
	</div>
}
